s3bucket/src/main/mule/upload_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="0616f58a-f1c8-4860-8473-0c8d9e4866f5" >
		<file:connection workingDir="/Users/saich/Documents/mule4_work/s3bucket/files"/>
	</file:config>
	<flow name="upload_filesFlow" doc:id="ca14cf3f-9689-4b72-94d3-c7633756a025" >
		<file:listener doc:name="On New or Updated File" doc:id="bcd90605-1645-4ba2-b44b-c6ca029195fa" config-ref="File_Config" autoDelete="true" moveToDirectory="/Users/saich/Documents/mule4_work/s3bucket/backup" outputMimeType='text/csv; separator=","'>
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="Set Variable" doc:id="49f84301-f469-491e-83c9-dd7c3dc2d51e" variableName="fileName"/>
		<ee:transform doc:name="Transform Message" doc:id="cd9adedb-8c60-430e-9c28-e91333cccea9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<s3:put-object doc:name="Put Object" doc:id="4a1169e4-219f-47b2-a688-26bde9b5a354" config-ref="Amazon_S3_Configuration" bucketName="female-oscars-data" key="#[vars.fileName]"/>
	</flow>
</mule>
